@{
    Layout = "~/Views/Shared/_Root.cshtml";
    ViewBag.Title = "Result Page";
}
<div class="span8">
    <div class="head clearfix">
    </div>
    <div class="block">
        <div class="first-result">
            <h1>
                Thuật ngữ</h1>
                <div class="like" title="Yêu thích"></a></div>
                <div class="count-like">200</div>
                <div class="clear"></div>
        </div>
        <div class="description-result">
            Giải thích
        </div>
        <div class="relate-words-result">
            Từ liên quan
        </div>
        <div class="comment">
            comment - đóng góp
        </div>
    </div>
</div>
<div class="span9">
    <div class="head clearfix">
    </div>
    <div class="block">
        sdklfhldshf<br />
        ádasd
    </div>
</div>
