@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/Content/Admin.css")" rel="stylesheet" type="text/css"/>
}
@section Header {
    <div id="header-bar">
        <ul id="menu">
            <li class="home-icon"><a href="@Url.Content("~/Home")">Trang chủ</a> </li>
            @Html.Partial("_LogOnPartial")
        </ul>
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        /* LEFT SIDE DATEPICKER */
        $("#menuDatepicker").datepicker();
    });
</script>
<div class="menu">
    <div class="breadLine">
        <div class="arrow">
        </div>
        <div class="title-admin">
            QUẢN TRỊ HỆ THỐNG
        </div>
        
    </div>
    <ul class="navigation">
        <li id="Index"><a href="/Admin"><span class="isw-grid"></span><span class="text">Tổng quan</span>
        </a></li>
        <li id="Entry"><a href="/Admin/Entry"><span class="isw-list"></span><span class="text">Thuật ngữ</span>
        </a></li>
        <li id="User"><a href="/Admin/User"><span class="isw-user"></span><span class="text">Thành viên</span>
        </a></li>
        <li id="Search"><a href="/Admin/Search"><span class="isw-zoom"></span><span class="text">Tìm kiếm</span>
        </a></li>
        <li id="QA"><a href="/Admin/QA"><span class="isw-chats"></span><span class="text">Hỏi đáp</span>
        </a></li>
        <li id="Comment"><a href="/Admin/Comment"><span class="isw-chat"></span><span class="text">Bình luận</span>
        </a></li>
    </ul>
    <div class="dr">
        <span></span>
    </div>
    <div class="widget-fluid">
        <div id="menuDatepicker">
        </div>
    </div>
</div>
<div class="content-admin">
    <div class="breadLine">
        <div class="arrow">
        </div>
        <div class="title-admin">
            HỆ THỐNG TRA CỨU THUẬT NGỮ HÀNH CHÍNH VĂN PHÒNG VÀ HOẠT ĐỘNG XÃ HỘI
        </div>
    </div>
    @RenderBody()
</div>
@section Footer {
    <div class="footer-info">
        <a href="#">Liên hệ</a> <a href="#">Giới thiệu</a> <a href="#">Phát triển</a>
    </div>
}
