@if (!Request.IsAuthenticated)
{
    <li>Xin chào, <a id="user-login" href="#">Edward</a>
        <ul class="dropdown-menu">
            <li><a href="#">Thông tin tài khoản</a></li>
            <li><a href="#">Lịch sử tra cứu</a></li>
            <li class="divider"></li>
            <li><a href="@Url.Content("~/Account/LogOut")">Thoát</a></li>
        </ul>
    </li>
}
else
{
    <li><a href="#" class="popUpLogon">Đăng nhập</a></li>
    <li><a href="@Url.Content("~/Account/Register")">Đăng ký</a></li>
}