<style type="text/css">
    .wrap-qa
    {
        width: 300px;
        padding: 5px 10px;
    }
    .wrap-qa .dr
    {
        margin-bottom: 0px !important;
    }
    .input-question
    {
    }
    .question-item
    {
    }
    .question-item
    {
        margin-top: 10px;
    }
    
    .question-item .date
    {
        float: right;
        font-size: 11px;
        color: #9b9b9b;
    }
    
    .question-item p
    {
        padding: 2px 5px;
        margin: 0px;
    }
    .input-question
    {
        text-align: right;
    }
    .input-question textarea
    {
    	padding:5px;
        width: 285px;
        min-height: 50px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 13px;
    }
    
    .question-item-content
    {
        border: 1px solid #ccc;
        border-radius: 6px;
        margin-bottom: 2px;
        background-color:#fff;
    }
    
    .question-item-content .username
    {
        background: url('/Content/img/icons/Help-icon.png') left center no-repeat transparent;
        padding-left: 18px;
        font-weight: bold;
        color: #666;
    }
    
    .btn-answer
    {
       background: url('/Content/img/icons/edit-icon.png') left center no-repeat transparent;
       padding-left: 18px;     
    }
    
    .answer-list
    {
        margin-left: 26px;
        border: 1px solid #ccc;
        border-radius: 6px;
    }
    
    .answer-item
    {
        border-bottom: 1px solid #ccc;
        margin-bottom: 2px;
        background-color:#fff;
        border-top-left-radius:6px;
        border-top-right-radius:6px;
    }
    .answer-item p
    {
        padding: 2px 5px;
    }
    .answer-item:nth-last-child(1)
    {
        border-bottom: 0px solid #ccc;
    }
    .answer-item .username-a
    {
        /*background: url('/Content/img/icons/speech-balloon-green-a-icon.png') left center no-repeat transparent;*/ /*padding-left: 18px;*/
        font-weight: bold;
        color: #000;
    }
    
    .btn-showmore
    {        
        padding:3px 30px;
        border-radius:2px;
        background-color:#D3D3D3;
        border:1px solid #ccc;    
    }
</style>
<div class="wrap-qa">
    <div class="input-question">
        <textarea placeholder="Nhập câu hỏi..."></textarea>
        <input type="button" class="btn" value="Gửi" />
    </div>
    <div class="dr">
        <span></span>
    </div>
    <div class="question-list">
        <div class="question-item">
            <div class="question-item-content">
                <p>
                    <span class="username">knguyen</span><span class="date">21/05/2013 14:20</span></p>
                <p>
                    Noi dung cau hjoi, ajsh sds sds dsd?</p>
                <p style="text-align: right">
                    <a class="btn-answer" href="#">Trả lời</a></p>
            </div>
            <div class="answer-list">
                <div class="answer-item">
                    <p>
                        <span class="username-a">hoa</span><span class="date">21/05/2013 14:20</span></p>
                    <p>
                        Noi dung cau tra loi</p>
                </div>
                <div class="answer-item">
                    <p>
                        <span class="username-a">quy</span><span class="date">21/05/2013 14:20</span></p>
                    <p>
                        Noi dung cau tra loi</p>
                </div>
                <div class="answer-item">
                    <p>
                        <span class="username-a">my</span><span class="date">21/05/2013 14:20</span></p>
                    <p>
                        Noi dung cau tra loi</p>
                </div>
            </div>
        </div>
        <div class="question-item">
            <div class="question-item-content">
                <p>
                    <span class="username">knguyen</span><span class="date">21/05/2013 14:20</span></p>
                <p>
                    Noi dung cau hjoi, ajsh sds sds dsd?</p>
                <p style="text-align: right">
                    <a class="btn-answer" href="#">Trả lời</a></p>
            </div>
            <div class="answer-list">
                <div class="answer-item">
                    <p>
                        <span class="username-a">hoa</span><span class="date">21/05/2013 14:20</span></p>
                    <p>
                        Noi dung cau tra loi</p>
                </div>
                <div class="answer-item">
                    <p>
                        <span class="username-a">quy</span><span class="date">21/05/2013 14:20</span></p>
                    <p>
                        Noi dung cau tra loi</p>
                </div>
            </div>
        </div>
        <div class="question-item">
            <div class="question-item-content">
                <p>
                    <span class="username">knguyen</span><span class="date">21/05/2013 14:20</span></p>
                <p>
                    Noi dung cau hjoi, ajsh sds sds dsd?</p>
                <p style="text-align: right">
                    <a class="btn-answer" href="#">Trả lời</a></p>
            </div>
            <div class="answer-list">
                <div class="answer-item">
                    <p>
                        <span class="username-a">hoa</span><span class="date">21/05/2013 14:20</span></p>
                    <p>
                        Noi dung cau tra loi</p>
                </div>
            </div>
        </div>
        <div style="text-align:center;margin-top:10px;">
            <a href="#" class="btn-showmore">Xem thêm</a>
        </div>
    </div>
</div>
